html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
    }

img{max-width: 100%;}
    
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background: #4c4c4c;
}

.wrapper {
  margin: 0 auto;
  width: 85%;
  max-width: 1200px;
}

.rangeBox {
  display: flex;
  justify-content: space-evenly;
}

.formBox {
  height: 800px;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(images/skyline.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
  opacity: 0.75;
}

.formBox form {
  display: grid;
  grid-template-columns: 1fr 255px 255px 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 25px;
}

.userInput input[type=text] {
  grid-column-start: 2;
}

.userInput input[type=submit] {
  margin-right: 22%;
}

button {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  margin: 0 auto;
}

::placeholder {
  color: black;
  font-size: 17px;
}

input[type='text'] {
  background: dimgray;
}

input, button {
  font-size: 20px;
  border-radius: 15px;
  border: 2px solid #cccccc;
  background: #4c4c4c4c;
  background-color: #F58714;
  padding: 6px;
  width: 255px;
}

input, button, h1 {
  text-align: center;
}

h1 {
  font-size: 65px;
  padding: 300px 0 200px;
  margin: auto;
  -webkit-text-stroke: 1px dimgray;
}

h4 {
  font-size: 20px;
}





/*general font styles*/
.searchResults, input[type='submit'], button, h1 {
  color: #fff;
}

.searchResults, input, button, .markerCard, h1, h4, .instructions {
  font-family: Raleway;
}

.meters {
  font-family: sans-serif;
}

.italic, input[type='text'], footer {
  font-style: italic;
}

h3.searchResults {
  font-weight: 400;
}

footer, h4, .instructions {
  color: #F58714;
}






#map {
  position: absolute;
}

.mapBox {
  position: relative;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
}

#map {
  top: 0;
  width: 95%;
  height: 95%;
  max-width: 95%;
  border-radius: 15px;
  border: 1px solid dimgray;
}

.instructions {
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.loading {
  top: 50%;
  left: 50%;
  position: fixed;
  margin: -40px;
  width: 80px;
}


.fa-spinner {
  font-size: 65px;
  opacity: 0;
  width: 80px;
  transition: 1s ease-out;
  animation: spin 1.15s linear infinite;
  /*transition-timing-function: cubic-bezier(.14,1.71,.23,-0.18);*/
}

.fa-spinner path {
  fill: white;
}

@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

.spin {
  opacity: 0.75;
  /*transform: rotate(360deg);*/
}

path.leaflet-interactive {
  fill: black;
  stroke: gray;
}

footer {
  /*background: linear-gradient(to bottom, rgba(76, 76, 76, 0.7), rgba(105, 105, 105, 0.7));*/
  background: dimgray;
  padding: 25px;
  margin: 0 auto;
}

